@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #0f172a, #12276d, #076750);
  margin: 0;
  padding: 0;
}



/* Modern scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-700; 

}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-teal-600;
  border-radius: 99px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-teal-200; 
}